.side-nav {
  grid-column: 1;
}
.search-input {
  grid-column: 2;
}

.main-layout {
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 7em 1fr;
  /* background-color: #f6f8fc; */
  height: 88vh;
}
.aside-bar {
  display: flex;
  flex-direction: column;
}

.aside-bar button {
  margin: 2px;
  cursor: pointer;
  height: 20px;
  padding: 25px;
  text-align: center;
  border: 0;
  background: transparent;
}

.aside-bar button:hover {
  border-radius: 30px;
  background-color: #93addb94;
}

.email-preview {
  position: absolute;
  top: 112px;
  left: 10em;
  bottom: 0em;
  width: 89%;
  /* height: 100%; */
  background-color: #ffff;
  overflow: auto;
  padding: 20px;
}
