/* mail list */
tr.unread {
  font-weight: bold;
}
.mail-list-container {
  flex: 1;
  padding: 8px;
  width: 100%;
  border-collapse: collapse;
}

.mail-list-container td,
.mail-list-container th {
  padding: 8px;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
}

.mail-list-container td {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
.mail-list-container tr:hover {
  background-color: rgba(169, 215, 217, 0.752);
  cursor: pointer;
}

footer {
  padding: 35px;
  text-align: center;
  grid-area: 3 / 1 / 4 / 3;
}

.img-starred {
  height: 15px;
}
