.mail-main-nav {
  display: flex;
  flex: 0.3;
  max-width: 300px;
  padding-right: 20px;
}

.search-input {
  width: 20em;
  background-color: #f6f8fc08;
  right: 15px;
  position: absolute;
  left: 14em;
  top: 11em;
  padding: 23px;
  border-radius: 11px;
}
.modal-top-line {
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
}
