.note {
  position: relative;
  background-color: #fff;
  width: 240px;
  border-radius: 7px;
  box-shadow: 0 2px 5px rgb(175, 175, 175);
  padding: 0.625rem;
  margin: 1rem;
  word-wrap: break-word;
}

.note-content::placeholder,
.note-title::placeholder {
  color: black;
  padding: 5px;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto;
}

.note-content.opened {
  font-size: 0.875rem;
}

.note-content.closed {
  font-size: 1rem;
}

.btn-background-color {
  position: relative;
  border: none;
  background-color: transparent;
  padding-left: 0.6rem;
}

.note-background-color {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
}

.btn-delete-note {
  position: absolute;
  top: 0;
  opacity: 1;
}
