form {
  position: relative;
  max-width: 600px;
  background-color: #fff;
  border-radius: 7px;
  margin: 0 auto;
  box-shadow: 0 1px 7px rgb(128, 128, 128);
  padding: 0.4375em;
}

.btn-submit {
  cursor: pointer;
  position: absolute;
  background-color: rgb(255, 200, 18);
  border: none;
  border-radius: 50%;
  bottom: -1.125rem;
  right: 1.125rem;
  width: 2rem;
  height: 2rem;
  box-shadow: 0 1px 3px rgb(165, 165, 165);
  outline: none;
  padding: 4px;
}

form input,
textarea {
  width: 100%;
  border: none;
  resize: none;
  font-size: 1rem;
}
